<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Agrega esta entrada (usa exactamente este nombre: ConexionProduccion_Claro) -->
	  <!-- <add name="ConexionProduccion_Claro"
		   connectionString="data source=localhost; initial catalog=Prueba_practica; user id=sa; password=admin1234.;" /> -->
	   <add name="ConexionProduccion_Claro"
         connectionString="data source=138.99.6.164; initial catalog=bd_centure_cloud_v2; user id=sa; password=ToQNGL391#.;" />
  </connectionStrings>
</configuration>